/* import tailwindcss base styles: https://tailwindcss.com/docs/installation */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* next-themes applies .light or .dark class at the root <html> based on user preference or system setting (prefers-color-scheme) */
.light {
  color: #213547;
  background-color: #ffffff;
}

.dark {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
